.order {
  width: 100vw;
  height: 100vh;
  
  display: flex;
}
.order-loader {
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}



.order-loader img {
  width: 60px;
}

.Process {
  background-color: white;
  width: 60%;
  height: 130vh;
}

.CartInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-bottom: 100px; 
  
}
