.ImgGridOpp{
    width: 100vw;
    height: 100vh;
    font-family:'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-right: 260px;
    color: var(--light);
}

 .imgGridOppSect{
   
    width: 50%;
    height: 70%;
    display: flex;
    position: relative;
    top: -100px;
    left: 290px;
}

.imgGridOppSect .verticle{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    
}

.imgGridOppSect .background-of-Img {
    width: 250px;
    height: 350px;
    background-color: #686878;
    border-radius: 10px;
    position: absolute;
    left: -50px;
    top: 90px;
}

.imgGridOppSect .textcontent{
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    padding-top: 40px;
}
 .imgGridOppSect .horizontal  {
    width: 180px;
    height:110px;
    z-index:30;
    border-radius: 10px;
    position: absolute;
    left: -120px;
    bottom: 0px;
}