.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    
  }
  
  .intro h1 {
    font-family: "Poppins", sans-serif;
    font-size: 170px;
    position: absolute;
    color: var(--dark);
  }
  
  .intro h1::before {
    content: attr(text);
    font-family: "Poppins", sans-serif;
    font-size: 170px;
    position: absolute;
    -webkit-text-stroke: 2px var(--dark);
    z-index: 20;
    color: transparent;
  }
  
  .sneaker-home {
    width: 400px;
    z-index: 1;
    position: absolute;
    
    transform: rotate(10deg) translateX(260%) ;
    bottom: 260px;
    animation-duration: 2s;
    animation-name: move-rotate;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }
  