.product-info{

    width: 100vw;
    height: 150vh;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    font-family: "Poppins", sans-serif;
    
}

.product-info h1{
    font-weight: 560;
    font-size: 45px;

}

.product-info .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    gap: 20px;


}