.detail-main {
    margin-top: 160px;
    padding: 0 100px;
    display: flex;
    gap: 130px;
  
  }
  

  
  .media img {
    width: 600px;
    position: sticky;
    top: 0;
    margin-left: 50px;
  }
  
  .product-name {
    font-size: 22px;
    font-weight: 500;
  }
  
  .product-category {
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .product-price {
    font-weight: 500;
  }
  
  .product-tax {
    font-size: 14px;
    color: gray;
  }
  
  .product-description {
    font-size: 16px;
    margin-top: 100px;
    width: 300px;
   
  }
  

  .addToCart{
    width: 300px;
    height: 50px;
    background-color: var(--dark);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--light);
    margin-top: 20px;
}

.shoeSize-main{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 300px;
  margin-top: 50px;
}

.shoeSize-main .sizeCard{
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.291);
  transform:.3s border ease-in;
}

.shoeSize-main .sizeCard:hover{
 
  border: 1px solid rgb(0, 0, 0);
}

.select-size{
  position: relative;
  top: 40px;
}