.sign-login-form{
    height: 400px;
    border-radius: 10px;
    width: 330px;
    background-color: var(--light);
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.register-form h2{
    margin-left: 100px;
}

.login-form-open{
    margin-left:40px;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.open-register-form{
    margin-left:95px;
    margin-top: 15px;
    text-decoration: underline;
    cursor: pointer;
}



.login-form{
   
    display: none;
}

.login-form h2{
   
   margin-left: 100px;
}



.sign-login-form p{
    display: flex;
    flex-direction: column;
    gap: -7px;
    
}

.sign-login-form input{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    height: 23px;
}

.sign-login-form label{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.sign-login-form button {
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    color: var(--light);
   background-color: var(--dark);
    padding: 8px 12px;
    cursor: pointer;
}