.video-player-container {
  position: absolute;
  width: 490px;
  height: 277px;
  border-radius: 10px;
  overflow: hidden;
}

.custom-video-player {
  width: 100%;
  height: 100%;
  outline: none;
  z-index: 20;
}
